
<p-multiSelect [options]="employees" [(ngModel)]="selectedEmployees" defaultLabel="Select a Employee" optionLabel="name">
</p-multiSelect>

<p-table [value]="employees">
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Options</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-emp>
        <tr>
            <td>{{emp.id}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.email}}</td>
            <td>
                <button pButton type="button" class="p-button-raised p-button-rounded" (click)="goDetails(emp)">Details</button>
                <button pButton type="button" class="p-button-raised p-button-rounded" (click)="goDetailsByState(emp)">Navigate state</button>
                <button pButton type="button" class="p-button-raised p-button-rounded" (click)="goDetailsByStateService(emp)">By StateService</button>
                <button pButton type="button" class="p-button-raised p-button-rounded" (click)="goDetailsByResolveGuard(emp)">By ResolveGuard</button>
            </td>
        </tr>
    </ng-template>
</p-table>
